<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995716841820-hklo4j8cq27l41jtv7i69tiieksv3b2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995716841820-hklo4j8cq27l41jtv7i69tiieksv3b2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBv7v1NHg23K52QNoU0q896uOMmnQdEC84</string>
	<key>GCM_SENDER_ID</key>
	<string>995716841820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>money.report.com.moneyReport</string>
	<key>PROJECT_ID</key>
	<string>money-report-c87e7</string>
	<key>STORAGE_BUCKET</key>
	<string>money-report-c87e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995716841820:ios:72e4e601d0ba7481c04199</string>
</dict>
</plist>